body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #cef17b;
}
#name{
    text-align: center;
    height: 55px;
    font-weight: bold;
    font-size: 2.5rem;
    color: #084734;
    margin: 0;
    
}
.navOpts{
    float: left;
    padding-right: 60px;
    color: #cef17b;
    list-style: none;
}
#navList{
    background-color: #084734;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navOpts:hover{
    text-decoration: underline;
    color: #cef17b;
}
#active{
    color: #ffd500;
}

#workArea{
    border: 2px solid black;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#fieldArea{
    border: 2px solid black;
    width: 300px;
    height: 300px;
}
#toolArea{
    margin-left: 20px;
    border: 2px solid black;
    width: 100px;
    height: 300px;
}
#cropArea{
    margin-right: 20px;
    border: 2px solid black;
    width: 100px;
    height: 300px;
}

#footerSec{
    background-color: #084734;
    bottom: 0;
    margin-bottom: 0;
    width: 99.15%;
    position: fixed;
}
#footName{
    font-size: 2rem;
    margin-left: 40%;
    color: #cef17b;
    float: left;
}
#footerSec a{
    text-decoration: none;
    color: #cef17b;
}
#guide{
    margin-left: 60%;
    padding-top: 20px;
}
#guide a:hover{
    text-decoration: underline;
}
#contactUs{
    margin-left: 65%;
    margin-top: -35px;
}
#contactUs a:hover{
    text-decoration: underline;
}